.Todo-App {
  padding-top: 20px;
  display: inline-block;
  span.error {
    display: inline-block;
    color: red;
    margin: 10px auto;
    border: 3px solid plum;
  }
  span.success {
    display: inline-block;
    color: greenyellow;
    margin: 10px auto;
    border: 3px solid darkslategrey;
  }

  form input {
    font-size: 20px;
  }

}
.Todo-List {
    ul {
      padding: 0;
      li {
        text-align: left;

        list-style-type: none;
      }
    }
  }

.footer a {
  padding: 0 10px;
  &.active {
    font-weight: bold;
  }
}

